<div class="row ">
    <div class="col-sm-12 header-top ">
        <nav class="navbar navbar-expand navbar-light bg-danger nav-main">
            <div class="container-fluid">
                <div id="logo">
                    <a class="navbar-brand" href="#">LOGO</a>
                </div>
                <div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <a class="navbar-brand" href="{{ path('bet_list') }}">Mes Paris en cours</a>
                            {# Dropdown 1 #}
                            <li class="nav-item dropdown dropdown-1">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Wallet({{ wallet.credit }} €)
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li>
                                        <a class="dropdown-item" href="{{ path('wallet') }}">Solde du compte</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{{ path('wallet_add') }}">Ajouter</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{{ path('wallet_draw') }}">retrait</a>
                                    </li>
                                </ul>
                            </li>
                            {# Dropdown 2 #}
                            <li class="nav-item dropdown dropdown-2 ">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    {{ users.firstname }} {{ users.lastname }}
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                    <li>
                                        <a class="dropdown-item" href="{{ path('auth') }}">Mes informations</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{{ path('app_document_new') }}">Aactivation de compte</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">Clotûre de compte</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>

{# Header Bottom #}
<div class="row">
    <div
            class="col-sm-12 header-bottom">
        {# Nav Secondary #}
        <nav class="navbar navbar-expand-lg navbar-light bg-warning nav-secondary">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav d-flex justify-content-around w-100">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Tout les Sport</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/sports/football"><i class='fas fa-futbol' style='font-size:26px'></i> Football</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/sports/handball"><i class='fas fa-futbol' style='font-size:24px'></i> Handball</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class='fas fa-basketball-ball' style='font-size:26px'></i> Basket</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Tennis</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="#"><i class='fas fa-table-tennis' style='font-size:24px'></i> Tennis table</a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Formula 1</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>